/* .registrant-details-container {
    top: 150px;
    background-color: #ec8898;
    padding: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    border-radius: 10px;
}

.actions {
    position: absolute;
    top: 10px;
    right: 10px;
}

mat-card-actions button {
    background-color: #cc0066; 
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

mat-card-actions button:hover {
    background-color: #e60073; 
}


mat-card-title {
    font-size: 26px;
    color: #cc0066; 
    margin-bottom: 20px;
    text-transform: uppercase;
}

mat-card-subtitle {
    font-size: 22px;
    color: #cc0066; 
    margin-bottom: 15px;
}


mat-card-content p {
    font-size: 16px;
    color: #993366; 
    margin: 10px 0;
}

mat-card-content p strong {
    color: #cc0066; 
    font-weight: bold;
}


.error-message {
    color: #ff3366; 
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
} */




.registrant-details-container {
    top: 150px;
    background-color: #ec8898;
    padding: 80px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    position: relative;


  }
  .actions {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .actions .btn {
    background-color: #cc0066; 
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .actions .btn:hover {
    background-color: #e60073; 
  }
  
  .registrant-details-container h1 {
    font-size: 26px;
    color: #cc0066; 
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .registrant-details-container h2 {
    font-size: 22px;
    color: #cc0066;
    margin-bottom: 15px;
  }
  
  .registrant-details-container p {
    font-size: 16px;
    color: #993366;
    margin: 10px 0;
  }
  
  .registrant-details-container p strong {
    color: #cc0066; 
    font-weight: bold;
  }
  
  .error-message {
    color: #ff3366; 
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }