<!-- <div class="registrant-list-container">
  <h1>רשימת נרשמים</h1>
  <ag-grid-angular
    style="width: 100%; height: 500px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [animateRows]="true"
    [gridOptions]="{}"
    [pagination]="true">
  </ag-grid-angular>
</div> -->


<table border="1" dir="rtl">
    <thead>
      <tr>
        <th>שם</th>
        <th>טלפון</th>
        <th>ת"ז</th>
        <th>מזהה שיעור</th>
        <th>מחיר</th>
        <th>תשלום</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let registrant of registerants">
        <td>{{ registrant.fullName }}</td>
        <td>{{ registrant.phone }}</td>
        <td>{{ registrant.idNumber }}</td>
        <td>{{ registrant.lessonId }}</td>
        <td>{{ registrant.price }}</td>
        <td>{{ registrant.isPaid }}</td>
      </tr>
    </tbody>
  </table>
  